<!DOCTYPE html>

<html lang="zh-Hant">
    
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Xu Yu-Chia's(許彧嘉) Blog！">
    <title>Xu Yu-Chia's Blog</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ '/logo.ico' | relative_url }}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ '/script.js' | relative_url }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/font-awesome.min.css">
</head>
    

    
<body class="bg-gray-950 text-gray-200">
    <!-- 頂部導航欄 -->
    
    <header class="bg-gray-900 text-white p-4 shadow-md sticky top-0 z-10">
        <nav class="max-w-6xl mx-auto flex justify-between items-center">
            <div class="text-xl font-bold"><a href ="https://xu-yu-chia.github.io/#home"><i class="fa fa-home"></i></a> Xu Yu-Chia's Blog</div>
            <ul class="flex space-x-6">
                <li><a href="https://xu-yu-chia.github.io/#about" class="hover:text-gray-400"><i class="fa fa-address-card"> About Me</i></a></li>
                <li><a href="https://xu-yu-chia.github.io/#projects" class="hover:text-gray-400"><i class="fa fa-folder-open"> Projects</i></a></li>
                <li><a href="https://xu-yu-chia.github.io/blog" class="hover:text-gray-400"><i class="fas fa-pen"> Blogs</i></a></li>
                <li><a href="https://xu-yu-chia.github.io/#sports_record" class="hover:text-gray-400"><i class="fa fa-running"> Sports Record</i></a></li>
                <li><a href="https://xu-yu-chia.github.io/#contact" class="hover:text-gray-400"><i class="fa fa-phone"> Contact Me</i></a></li>
            </ul>
        </nav>
    </header>
    
    <!-- 主內容 -->
    <main class="max-w-6xl mx-auto p-8">
        <!-- 🚩 新增標籤區塊 -->
        {% if page.tags %}
            <div class="post-tags mt-4">
                <h3 class="text-lg font-semibold text-gray-300">標籤：</h3>
                {% for tag in page.tags %}
                    <a href="/blog/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {{ content }}
    </main>



    <!-- 頁腳 -->
    <footer class="bg-gray-900 text-gray-400 text-center py-4 mt-10">
        <p>© 2025 Xu Yu-Chia's Blog. 保留所有權利.</p>
        <p>瀏覽次數：<span id="viewCount">0</span></p>
    </footer>
                              
    
</body>
</html>
